html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  font-size: 25px;
  font-weight: 400;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  width: 90vw;
}

.content{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer a{
  border-bottom: 2px solid currentColor;
}

.footer a:hover{
  color: grey
}